body {
    font-family: 'Arial', sans-serif;

      color: var(--blue);
   

     color: var(--blue);

    background-color: #b4b4b4;
}

header {
    background-color: #fff;
    color: #224C8D;
    padding: 0;
    text-align: center;
    border-bottom: 3px solid #224C8D;
    
}
header h1{
  color: #224C8D;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 10%; 
}

h1 {
    margin: 0;
    font-size: 3vw;
    text-transform: uppercase;
    color: #fff;
}

h2, h3 {
    color: #6DB5E7;
}

p {
    line-height: 1.5;
}

section p{
  color: #224C8D;
}

.game-section, .decision-section, .knowledge-map-section {
    margin: 5% 0;
    background-color: #fff;
    padding: 5%;
    border-radius: 2%;
    box-shadow: 0 1% 2% rgba(0, 0, 0, 0.1);
}

.forum {
    background-color: #f9f9f9;
    padding: 2%;
    margin-top: 2%;
    border-radius: 1%;
}

.social-media {
    margin-top: 2%;
  
}

button {
    background-color: #ff9900;
    color: #fff;
    padding: 1% 2%;
    border: none;
    border-radius: 1%;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--blue);
    border-color: var(--blue);
    font-size: 1.2rem;
    transition: 200ms transform;
    font-weight: 600;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --blue: #6DB5E7;
    --winning-blocks: #83E509;
  }
  


  


  
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00153b;
  }
  
  #gameboard {
    width: min(95%, 300px);
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
  }
  
  #scoreboard {
    margin-top: 40px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #fff;
    width: min(95%, 200px);
    max-width: 100%;
  }
  
  #difficulty-board {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  #difficulty-board select {
    padding: 5px 20px;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 10px;
  }
  
  .box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
  }
  
  .box:nth-child(3n) {
    border-right: none;
  }
  
  .box:nth-child(6) ~ .box {
    border-bottom: none;
  }
  
  
  
  .mode-btn {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--blue);
    color: #fff;
    border-color: var(--blue);
    font-size: 1.2rem;
    transition: 200ms transform;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: none;
  }
  
  button:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }
  
.explicacao{

  color: #000000;
}

#restartBtn{

  margin-left: 2%;
}




.container h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    padding: 20px 0px;
    gap: 50px;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input-field label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

.input-field input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #6DB5E7;
    font-size: 18px;
    border-radius: 2px;
    padding: 5px;
    color: #fff;
}

.input-field input:focus {
    outline: none;
    border-bottom: 3px solid #6DB5E7;
}

#generate {
    background-color: #6DB5E7;
    border: none;
    padding: 12px 10px;
    border-radius: 4px;
    width: 10%;
    margin: 20px 0px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#result {
    font-size: 50px;
    font-weight: 600;
}

#knowledge-map {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.knowledge-topic {
  width: 30%;
  background-color: #fff;
  color: #00153b;
  padding: 10px;
  border: 1px solid #6DB5E7;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.knowledge-topic:hover {
  background-color:  #224C8D;
}

.topic-info {
  width: 100%;
  display: none;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #00153b;
  border-radius: 5px;
  margin-top: 10px;
  box-sizing: border-box;
}

iframe {
  width: 100%;
  height: 300px;
}

#knowledge-map p {
  color: #000000;
}
