body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: 0.3s ease;
}

.header a:hover {
    color: #ff9900;
}


.title {
    background-color: #ff9900;
    padding: 10px 0;
    text-align: center;
}

.title h1 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.section {
    padding: 40px;
    text-align: center;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.section p {
    font-size: 18px;
    color: #666;
}
